@page
@model GameManagerUi.Pages.Venues.IndexModel

@{
    ViewData["Title"] = "Venue List";
}

<div class="d-flex justify-content-between">
    <h3>@ViewData["Title"]</h3>
    <p><a class="btn btn-success" asp-page="Create">Add Venue<i class="fas fa-plus pl-2"></i></a></p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue[0].City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue[0].PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Venue) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
               <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.VenueId"><i class="far fa-edit"></i></a>
               <a class="btn btn-outline-primary" asp-page="./Delete" asp-route-id="@item.VenueId"><i class="far fa-trash-alt"></i></a>
           </td>
        </tr>
}
    </tbody>
</table>
